<!DOCTYPE html>
<html
        lang="en" data-theme="light"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/layout :: layout-main(
        pageContent=~{:: .main},
        title=~{:: .main-title}
    )}"
>

<main class="main">
    <section class="section-content auth__section">
        <div class="container">
            <div class="auth__container">
                <div class="auth__login">
                    <h1 class="auth__title">Login</h1>

                    <form method="POST" th:action="@{/login}" id="auth__form-login" class="auth-form">
                        <div class="auth-form__group">
                            <div class="auth-form__field">
                                <input
                                        type="text"
                                        id="username"
                                        name="username"
                                        required
                                        class="auth-form__input"
                                        placeholder=""
                                        value="user"
                                />

                                <label
                                        for="username"
                                        class="auth-form__label"
                                >Username</label
                                >
                            </div>

                            <div class="auth-form__field">
                                <input
                                        type="password"
                                        id="password"
                                        name="password"
                                        required
                                        class="auth-form__input"
                                        placeholder=""
                                        value="password"
                                />

                                <label
                                        for="password"
                                        class="auth-form__label"
                                >Password
                                </label>
                            </div>
                        </div>

                        <div class="auth-form__actions">
                            <button
                                    class="button button--small"
                                    type="submit"
                            >
                                Login
                            </button>
                        </div>

                        <p
                                class="auth-form__message auth-form__message--login"
                        ></p>
                    </form>
                </div>

                <a class="auth__account-creation-link" th:href="@{/create-account}">Don't have an <strong>account?</strong><br>Create one fo <strong>free</strong>!</a>
            </div>
        </div>
    </section>

</main>
</html>
