<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/layout :: layout-main(
        pageContent=~{:: .main},
        title='Login to BidHub - Access Your Auction Account',
        cssPath=null,
        jsPath=null
    )}"
>

<main class="main">
    <section class="section-content">
        <div class="container">
            <div class="form-container">
                <div class="form-section">
                    <h1 class="form-title">Login</h1>

                    <form method="POST" th:action="@{/login}" class="auth-form">
                        <div class="form-group">
                            <div class="form-field">
                                <input
                                        type="text"
                                        id="username"
                                        name="username"
                                        required
                                        class="form-input"
                                        placeholder=""
                                        value="user"
                                />

                                <label
                                        for="username"
                                        class="form-label"
                                >Username</label
                                >
                            </div>

                            <div class="form-field">
                                <input
                                        type="password"
                                        id="password"
                                        name="password"
                                        required
                                        class="form-input"
                                        placeholder=""
                                        value="password"
                                />

                                <label
                                        for="password"
                                        class="form-label"
                                >Password
                                </label>
                            </div>

                        </div>

                        <div class="form-field form-field--checkbox">
                            <input type="checkbox" id="remember-me" name="remember-me" class="form-input--checkbox"/>
                            <label for="remember-me" class="form-label--checkbox">Remember me</label>
                        </div>

                        <div class="form-actions">
                            <button
                                    class="button"
                                    type="submit"
                            >
                                Login
                            </button>
                        </div>

                        <p class="auth-form__message auth-form__message--login"></p>
                    </form>
                </div>

                <div class="form-group">
                    <a class="form-link" th:href="@{/create-account}">Don't have an
                        <strong>account?</strong><br>Create one for <strong>free</strong>!
                    </a>
                </div>
            </div>
        </div>
    </section>

</main>

</html>
