.product__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-6);
}

.product__image {
    display: flex;
}

.product__image img {
    border-radius: var(--border-radius-2);
}

.product__info {
    display: grid;
    gap: var(--space-4);
}

.product__title {
    font-size: var(--h2);
}

.related-product__title {
    font-size: var(--h3);
    max-width: var(--max-width-4);
    margin-bottom: var(--space-6);
}

.product__description {
    font-size: var(--h4);
}

.product__category {
    font-size: var(--text-small);
}

.product__category a {
    text-decoration: underline;
}

.product__actual-price {
    font-size: var(--h3);
}

.bid-history__title {
    font-size: var(--h3);
    text-align: center;
}

.bid-history__total-count {
    text-align: center;
    margin-top: var(--space-3);
}