<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout-main(
            pageContent=~{:: .main},
            title=~{:: .main-title}
        )}">

<main class="main">

    <section class="section-content auth__section">
        <div class="container">

            <div class="auth__container">
                <div class="auth__register">
                    <h1 class="auth__title">Register</h1>

                    <a class="auth__account-login-link" th:href="@{/login}">Already have an <strong>account</strong>?<br>Log in here</a>

                    <form method="POST" th:action="@{/create-account}" th:object="${user}" id="auth__form-register" class="auth-form">

                        <p class="error" th:each="error: ${#fields.errors('global')}" th:text="#{${error}}"></p>

                        <div class="auth-form__group">

                            <div class="auth-form__field-row">
                                <div class="auth-form__field">
                                    <input
                                            type="text"
                                            id="username"
                                            name="username"
                                            required
                                            class="auth-form__input"
                                            placeholder=""
                                            th:field="*{username}"
                                    />
                                    <label for="username" class="auth-form__label">Username</label>
                                </div>
                                <div class="auth-form__field">
                                    <input
                                            type="email"
                                            id="email"
                                            name="email"
                                            required
                                            class="auth-form__input"
                                            placeholder=""
                                            th:field="*{email}"
                                    />
                                    <label for="email" class="auth-form__label">Email</label>
                                </div>
                            </div>

                            <div class="auth-form__field-row">
                                <div class="auth-form__field">
                                    <input
                                            type="password"
                                            id="password"
                                            name="password"
                                            required
                                            class="auth-form__input"
                                            placeholder=""
                                            th:field="*{password}"
                                    />

                                    <label for="password" class="auth-form__label">Password</label>

                                    <i
                                            id="auth-form__icon"
                                            class="ri-eye-line"
                                    ></i>

                                </div>

                                <div class="auth-form__field">
                                    <input
                                            type="password"
                                            id="passwordConfirm"
                                            name="passwordConfirm"
                                            required
                                            class="auth-form__input"
                                            placeholder=""
                                    />
                                    <label for="passwordConfirm" class="auth-form__label">Password confirmation</label>
                                </div>
                            </div>

                            <div class="auth-form__field-row">
                                <div class="auth-form__field">
                                    <input
                                            type="text"
                                            id="firstName"
                                            name="firstName"
                                            required
                                            class="auth-form__input"
                                            placeholder=""
                                            th:field="*{firstName}"
                                    />
                                    <label for="firstName" class="auth-form__label">First Name</label>

                                </div>

                                <div class="auth-form__field">
                                    <input
                                            type="text"
                                            id="lastName"
                                            name="lastName"
                                            required
                                            class="auth-form__input"
                                            placeholder=""
                                            th:field="*{lastName}"
                                    />
                                    <label for="lastName" class="auth-form__label">Last Name</label>
                                </div>
                            </div>

                            <div class="auth-form__field-row">
                                <div class="auth-form__field">
                                    <input
                                            type="text"
                                            id="phone"
                                            name="phone"
                                            required
                                            class="auth-form__input"
                                            placeholder=""
                                            th:field="*{phone}"
                                    />
                                    <label for="phone" class="auth-form__label">Phone</label>
                                </div>

                                <div class="auth-form__field">
                                    <input
                                            type="text"
                                            id="street"
                                            name="street"
                                            required
                                            class="auth-form__input"
                                            placeholder=""
                                            th:field="*{street}"
                                    />
                                    <label for="street" class="auth-form__label">Street Address</label>
                                </div>
                            </div>

                            <div class="auth-form__field-row">
                                <div class="auth-form__field">
                                    <input
                                            type="text"
                                            id="zipCode"
                                            name="zipCode"
                                            required
                                            class="auth-form__input"
                                            placeholder=""
                                            th:field="*{zipCode}"
                                    />
                                    <label for="zipCode" class="auth-form__label">Zip Code</label>
                                </div>

                                <div class="auth-form__field">
                                    <input
                                            type="text"
                                            id="city"
                                            name="city"
                                            required
                                            class="auth-form__input"
                                            placeholder=""
                                            th:field="*{city}"
                                    />
                                    <label for="city" class="auth-form__label">City</label>
                                </div>
                            </div>
                        </div>

                        <div class="auth-form__actions">
                            <button class="button button--small" type="submit">
                                Register
                            </button>

                            <button class="button button--secondary button--small" type="reset">
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <script src="/js/common/show-password-form.js"></script>
</main>
</html>