<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout-main(
            pageContent=~{:: .main-content},
            title=~{:: .main-title}
        )}">

<main class="main-content">

    <h2>Create an account</h2>

    <label for="username-input">Pseudo :</label>
    <input type="text" name="username" id="username-input">

    <label for="name-input">Name :</label>
    <input type="text" name="name" id="name-input">

    <label for="firstname-input">Firstname :</label>
    <input type="text" name="firstname" id="firstname-input">

    <label for="email-input">Email :</label>
    <input type="email" name="email" id="email-input">

    <label for="street-input">Street</label>
    <input type="text" name="street" id="street-input">

    <label for="zipcode-input">Post Code :</label>
    <input type="number" name="zipcode" id="zipcode-input">

    <label for="country-input">Country :</label>
    <input type="text" name="country" id="country-input">

    <label for="password-input">Password</label>
    <input type="password" name="password" id="password-input">

    <label for="confirm-password-input">Confirm password</label>
    <input type="password" name="confirm-password" id="confirm-password-input">

    <div class="submit-btns">
        <button type="submit">Create</button>
        <button type="submit">Cancel</button>
    </div>


</main>
</html>