<!DOCTYPE html>
<html
        lang="en" data-theme="light"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/layout :: layout-main(
        pageContent=~{:: .main},
        title=~{:: .main-title}
    )}"
>
<main class="main">
    <h2>Edit my Profile</h2>

    <form method="post" th:action="@{/profile/edit-profile}" th:object="${user}" id="form-edit-profile">

        <label for="username-input">Pseudo :</label>
        <input type="text" name="username" id="username-input" th:field="*{username}">

        <label for="name-input">Name :</label>
        <input type="text" name="name" id="name-input" th:field="*{lastName}">

        <label for="firstname-input">Firstname :</label>
        <input type="text" name="firstname" id="firstname-input" th:field="*{firstName}">

        <label for="email-input">Email :</label>
        <input type="text" name="email" id="email-input" th:field="*{email}">

        <label for="phone-input">Phone :</label>
        <input type="number" name="phone" id="phone-input" th:field="*{phone}">

        <label for="street-input">Street</label>
        <input type="text" name="street" id="street-input" th:field="*{street}">

        <label for="zipcode-input">Zip Code :</label>
        <input type="number" name="zipcode" id="zipcode-input" th:field="*{zipCode}">

        <label for="city-input">City :</label>
        <input type="text" name="city" id="city-input" th:field="*{city}">

        <input type="hidden" th:field="*{password}">
        <input type="hidden" th:field="*{credit}">




        <div class="submit-btns">
            <button type="submit" id="save" name="action" value="save">Save</button>
            <button type="button" id="delete-btn-disp">Delete my account</button>
            <a th:href="@{/profile}"><button type="button" id="back">Back</button></a>
        </div>

    </form>


    <div
         th:replace="~{fragments/fragment-delete-confirmation :: frag-delete}">
    </div>



    <script src="/js/common/modal.js"></script>
</main>

</html>
