<header class="header" xmlns:th="http://www.thymeleaf.org" th:fragment="frag-navigation">
    <div class="container">
        <div class="header__container">
            <a href="/" class="logo">
                <img th:src="@{/images/logo.svg}" alt="Logo BidHub">
            </a>

            <nav id="nav" class="nav" role="navigation">
                <ul class="nav__list">
                    <li class="visually-hidden">
                        <a href="/">Home</a>
                    </li>

                    <li th:if="${!#authorization.expression('isAuthenticated()')}">
                        <a
                                href="login"
                                class="nav__link"
                        >Login</a
                        >
                    </li>

                    <li th:if="${#authorization.expression('isAuthenticated()')}"
                        th:text="'Hey ' + ${#authentication.name} + ' • €'+${#authentication.principal.credit}">
                    </li>

                    <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <a
                                href="logout"
                                class="nav__link"
                        >Logout</a>
                    </li>
                </ul>
            </nav>

            <div class="nav__btns">
                <i class="ri-sun-line" id="theme-toggle"></i>

                <a th:if="${#authorization.expression('isAuthenticated()')}"
                   href="create-item"
                   class="button"
                >Sell Item!</a
                >

                <a th:if="${!#authorization.expression('isAuthenticated()')}"
                   href="create-account"
                   class="button"
                >Sign Up!</a
                >
                <i
                        class="ri-menu-3-line nav__toggle"
                        id="nav-toggle"
                ></i>
            </div>
        </div>
    </div>
</header>