<header class="header" xmlns:th="http://www.thymeleaf.org" th:fragment="frag-navigation">
    <div class="container">
        <div class="header__container">
            <a href="/" class="logo">
                <img th:src="@{/images/logo.svg}" alt="Logo BidHub">
            </a>

            <nav id="nav" class="nav" role="navigation">
                <ul class="nav__list">
                    <li class="visually-hidden">
                        <a href="/" aria-current="page">Home</a>
                    </li>

                    <li th:if="${!#authorization.expression('isAuthenticated()')}">
                        <a
                                href="create-account"
                                class="nav__link"
                        >Sign Up</a
                        >
                    </li>

                    <li th:if="${!#authorization.expression('isAuthenticated()')}">
                        <a
                                href="login"
                                class="nav__link"
                        >Login</a
                        >
                    </li>

                    <li th:if="${#authorization.expression('isAuthenticated()')}"
                        th:text="'Hey ' + ${#authentication.name}"></li>

                    <li th:if="${#authorization.expression('isAuthenticated()')}">
                        <a
                                href="logout"
                                class="nav__link"
                        >Logout</a>
                    </li>
                </ul>
            </nav>

            <div class="nav__btns">
                <i class="ri-sun-line" id="theme-toggle"></i>
                <a
                        href="#"
                        class="button"
                >Auction!</a
                >
                <i
                        class="ri-menu-3-line nav__toggle"
                        id="nav-toggle"
                ></i>
            </div>
        </div>
    </div>
</header>