@media screen and (min-width: 480px) {
    /* ==================================== */
    /* =============== FORM =============== */
    /* ==================================== */
    .form-group, .form-row {
        gap: var(--space-7);
    }

    .shop__list {
        gap: var(--space-7);
    }
}

@media screen and (min-width: 568px) {}

@media screen and (min-width: 768px) {
    /* ============================== */
    /* ======== HEADER & NAV ======== */
    /* ============================== */
    .nav {
        position: initial;
        margin-left: auto;
        opacity: 1;
    }

    .nav__list {
        display: flex;
        padding: 0;
        background-color: initial;
        gap: var(--space-4);
    }

    .nav__list li:not(:last-child)::after {
        content: none;
    }

    .nav__list a {
        color: var(--primary);
    }

    .nav__toggle {
        display: none;
    }

    /* ============================== */
    /* =========== FOOTER =========== */
    /* ============================== */
    .footer__container {
        flex-direction: row;
        justify-content: space-between;
    }

    /* ==================================== */
    /* =============== FORM =============== */
    /* ==================================== */
    .form-group, .form-row {
        gap: var(--space-6);
    }

    .form-container, .form-row {
        flex-direction: row;
    }

    #image-container {
        flex-direction: row;
        align-items: center;
        gap: var(--space-4);
    }

    /* ==================================== */
    /* ============ FILTER FORM =========== */
    /* ==================================== */
    .filter-form {
        flex-direction: row;
        justify-content: space-between;
    }

    .filter-form__search {
        width: initial;
    }

    /* ==================================== */
    /* ============= SHOP LIST ============ */
    /* ==================================== */
    .shop__list {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-6);
    }
}

@media screen and (min-width: 1024px) {
    .form-group, .form-row {
        gap: calc(var(--space-5) + var(--space-2));
    }

    /* ==================================== */
    /* ============= SHOP LIST ============ */
    /* ==================================== */
    .shop__list {
        grid-template-columns: repeat(3, 1fr);
    }
}