<!DOCTYPE html>
<html
        lang="en" data-theme="light"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/layout :: layout-main(
        pageContent=~{:: .main},
        title=~{:: .main-title},
        cssPath=null,
        jsPath=null
    )}"
>

<main class="main">

    <section class="section-content">

        <div class="container">

            <div class="form-container">

                <div class="form-section">

                    <h1 class="form-title">Edit my Profile</h1>

                    <form method="post" th:action="@{/profile}" id="form-edit-profile">

                        <div class="form-group">

                            <div class="form-row">

                                <div class="form-field">
                                    <label for="username-input">Pseudo :</label>
                                    <input type="text" name="username" id="username-input" th:field="*{user.username}">
                                </div>
                                <div class="form-field">
                                    <label for="lastname-input">Lastname :</label>
                                    <input type="text" name="lastname" id="lastname-input" th:field="*{user.lastName}">
                                </div>

                            </div>

                            <div class="form-row">

                                <div class="form-field">
                                    <label for="firstname-input">Firstname :</label>
                                    <input type="text" name="firstname" id="firstname-input" th:field="*{user.firstName}">
                                </div>
                                <div class="form-field">
                                    <label for="email-input">Email :</label>
                                    <input type="text" name="email" id="email-input" th:field="*{user.email}">
                                </div>

                            </div>

                            <div class="form-row">

                                <div class="form-field">
                                    <label for="phone-input">Phone :</label>
                                    <input type="number" name="phone" id="phone-input" th:field="*{user.phone}">
                                </div>
                                <div class="form-field">
                                    <label for="street-input">Street</label>
                                    <input type="text" name="street" id="street-input" th:field="*{user.street}">
                                </div>

                            </div>

                            <div class="form-row">

                                <div class="form-field">
                                    <label for="zipcode-input">Zip Code :</label>
                                    <input type="number" name="zipcode" id="zipcode-input" th:field="*{user.zipCode}">
                                </div>
                                <div class="form-field">
                                    <label for="city-input">City :</label>
                                    <input type="text" name="city" id="city-input" th:field="*{user.city}">
                                </div>

                            </div>

                        </div>

                        <input type="hidden" th:field="*{user.password}">
                        <input type="hidden" th:field="*{user.credit}">

                        <div class="form-actions">

                            <div class="submit-btns">
                                <button type="submit" class="button" id="save" name="action" value="save">Save</button>
                                <a th:href="@{/login}"><button type="button" class="button" id="delete-btn">Delete my account</button></a>
                                <a th:href="@{/profile}"><button type="button" class="button" id="cancel-btn">Cancel</button></a>
                            </div>

                            <div class="visually-hidden" id="btns-container">
                                <h3>Are you sure ?</h3>
                                <img src="https://c.tenor.com/zAjBu56Jzk0AAAAd/tenor.gif" alt="jiji">
                                <div id="btns">
                                    <button id="confirm-btn" class="button" type="button">Yes</button>
                                    <button id="cancel-btn-delete" class="button" type="button">Actually, no</button>
                                </div>
                            </div>




                        </div>

                    </form>

                </div>

            </div>

        </div>

    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteBtn = document.getElementById('delete-btn');
            const btnsContainer = document.getElementById('btns-container');
            const confirmBtn = document.getElementById('confirm-btn');
            const cancelBtnDelete = document.getElementById('cancel-btn-delete');
            const form = document.getElementById('form-edit-profile');

            deleteBtn.addEventListener('click', function (event) {
                event.preventDefault();

                btnsContainer.classList.remove('visually-hidden');

                cancelBtnDelete.addEventListener('click', function () {
                    btnsContainer.classList.add('visually-hidden');
                });
            });

            confirmBtn.addEventListener('click', function () {
                const username = document.getElementById('username-input').value;

                fetch(`/profile?username=${username}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': form.querySelector('input[name="_csrf"]').value
                    }
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = '/login';
                        } else {
                            alert('Failed to delete account');
                        }
                    });
            });
        });
    </script>

</main>

</html>
