<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout-main(
            pageContent=~{:: .main-content},
            title=~{:: .main-title}
        )}"
>

<title class="main-title">Home</title>
<body>
    <h1 class="main-content" th:text="#{Welcome to the Auction App}"></h1>

    <h2>
        Filtres :
    </h2>

    <label for="category-select">Catégories</label>
    <select name="categories" id="category-select">
        <option value="">-- All categories --</option>
        <option value="XXX">1</option>
        <option value="XXX">1</option>
        <option value="XXX">1</option>
    </select>

    <div class="input-container">
        <img src="#">
        <input type="search" id="search-bar" placeholder="The name of the item contains...">
    </div>

    <button>Search</button>
    
    <div class="item-container">
        <div class="left-container">
            <img src="#" alt="item-photo">
        </div>
        <div class="right-container">
            <div class="title-item">AAA</div>
            <div class="price-item">Price : </div>
            <div class="rank-item">Rank : </div>
            <div class="endDate-item">End of auction : </div>
            <div class="adress-item">Pick-up point : </div>
            <div class="seller-name">Seller :</div>
        </div>
    </div>

</body>
</html>