<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout-main(
            pageContent=~{:: .main},
            title='BidHub - Home of Exciting Online Auctions',
            cssPath='/css/pages/home.css',
            jsPath=null
        )}"
>

<main class="main">
    <section class="section-content">
        <div class="container hero">
            <div class="hero__content">
                <h1 class="hero__title">
                    The <span class="text-stroke">Hottest Auctions</span> in Your Area!
                </h1>

            </div>
                <div th:each="item : ${items}">
                    <p>fais chier</p>
                </div>

            <div th:replace="~{fragments/fragment-product-list :: product-list(${items})}"></div>


<!--            <div class="hero__image">-->
<!--                <img-->
<!--                        src="./images/home_hero-banner.jpg"-->
<!--                        alt="Auction room with spotlighted art piece and excited bidders."-->
<!--                />-->
<!--            </div>-->
        </div>
    </section>

    <div class="container">
        <span class="separator"></span>
    </div>

</main>
</html>