<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout-main(
            pageContent=~{:: .main},
            title='List of product categories',
            cssPath='/css/admin/categories.css',
            jsPath=null
        )}"
>

<main class="main">
    <section class="section-content">
        <div class="container categories">
            <div class="categories__header">
                <h1 class="categories__title">
                    List of product <span class="text-stroke">My items</span>!
                </h1>

                <p class="categories__total-count">
                    You are selling
                    <strong th:text="${#lists.isEmpty(items) ? 0 : items.size()}"></strong>
                    items
                </p>

                <a href="/create-item" class="categories__add-button button">Sell a new item</a>
            </div>

            <div class="categories__grid">
                <table th:if="${!#lists.isEmpty(items)}">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="item : ${items}">
                        <td data-label="name"><a th:href="@{|/user/my-items/${itemUrls[item.itemId]}|}" th:text="${item.itemName}"></a></td>
                        <td data-label="category" th:text="${item.category.label}"></td>
                        <td data-label="price" th:text="'€' + ${item.startingPrice}"></td>

                        <td data-label="action" class="grid__action show">
                            <a th:href="@{'/user/my-items/' + ${item.itemId} + '/edit'}">
                                <i class="ri-pencil-fill"></i>
                            </a>

                            <form class="action__form"
                                  th:action="@{'/user/my-items/' + ${item.itemId} + '/delete'}"
                                  method="post">
                                <button type="submit" class="action__button-link">
                                    <i class="ri-delete-bin-7-line"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

<!--        <div class="pagination">-->
<!--            <ul class="pagination__list">-->
<!--                &lt;!&ndash; First page &ndash;&gt;-->
<!--                <th:block th:if="${currentPage > 2}">-->
<!--                    <li class="pagination__item">-->
<!--                        <a th:href="@{/user/my-items(page=1)}"-->
<!--                           class="pagination__link">-->
<!--                            <i class="ri-skip-left-line"></i>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </th:block>-->

<!--                &lt;!&ndash; Previous page &ndash;&gt;-->
<!--                <th:block th:if="${currentPage > 1}">-->
<!--                    <li class="pagination__item">-->
<!--                        <a th:href="@{/user/my-items(page=${currentPage - 1})}"-->
<!--                           class="pagination__link">-->
<!--                            <i th:if="${currentPage == 2}" class="ri-skip-left-line"></i>-->
<!--                            <i th:unless="${currentPage == 2}" class="ri-arrow-left-s-fill"></i>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </th:block>-->

<!--                &lt;!&ndash; Current page (active) &ndash;&gt;-->
<!--                <li class="pagination__item pagination__item&#45;&#45;active">-->
<!--                    <span class="pagination__link" th:text="${currentPage}"></span>-->
<!--                </li>-->

<!--                &lt;!&ndash; Next page &ndash;&gt;-->
<!--                <th:block th:if="${currentPage < totalPages}">-->
<!--                    <li class="pagination__item">-->
<!--                        <a th:href="@{/user/my-items(page=${currentPage + 1})}"-->
<!--                           class="pagination__link">-->
<!--                            <i th:if="${currentPage == totalPages - 1}" class="ri-skip-right-line"></i>-->
<!--                            <i th:unless="${currentPage == totalPages - 1}" class="ri-arrow-right-s-fill"></i>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </th:block>-->

<!--                &lt;!&ndash; Last page &ndash;&gt;-->
<!--                <th:block th:if="${currentPage < totalPages - 1}">-->
<!--                    <li class="pagination__item">-->
<!--                        <a th:href="@{/user/my-items(page=${totalPages})}"-->
<!--                           class="pagination__link">-->
<!--                            <i class="ri-skip-right-line"></i>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </th:block>-->
<!--            </ul>-->
<!--        </div>-->
    </section>

    <div class="container">
        <span class="separator"></span>
    </div>

</main>
</html>